<!doctype html> <!-- starting of the code -->
<html lang="en">  <!-- language chosen is english -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
     integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>ZARA</title> 
  </head>
  <body>
   <div class="container" id="app"> <!-- a class "container" is used for proper padding -->
      <h1>Pulse Width Modulation</h1> <!-- provides Heading -->
      
      <div>  <!-- used for boxifying -->
        <div class="form-group">  <!-- To take pin1 value from the user -->
          <label>Pin</label>  <!-- used to display content -->
          <input type="number" name="pin" v-model="current.pin"> 
        </div>
        <button class="btn btn-primary" v-on:click='onLed(current)'>On</button> <!-- button for ON -->
        
      </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" 
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script>  /*defines the jave script*/
      var app = new Vue({  
        el: '#app', 
        data: {
          current: {}
        },
        methods: {
        onLed:function(obj){ /*this function is used to on led*/
          console.log("ON was called")
          axios.post('/pwmon', {  /*routes to the pwm_on part from server.py*/
            led:obj.pin  /*provides input values to back end*/
          })
          .then(function (response) {
            console.log(response.data);
          })
          .catch(function (error) {  /*exception case; used to display error*/
            console.log(error);
          });
        },
        }
      })
    </script>
  </body> <!-- end of body -->
</html> <!-- end of html code -->