<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>ZARA</title>
  </head>
  <body>
    <div class="container" id="app">
      <h1>LED</h1>
      <section id = "redLED" >
         <div>
        <h2>RED</h2>
        <div class="form-group">
          <label>Pin1</label>
          <input type="number" name="pin" v-model="current.r1">
        </div>
        <button class="btn btn-primary" v-on:click='onLed(current)'>On</button>
        <button class="btn btn-danger" v-on:click='offLed(current)'>Off</button>
      </div>
    
        
      </section>
      <section id="yellowLED">
        <div>
            <h2>YELLOW</h2>
            <div class="form-group">
              <label>Pin2</label>
              <input type="number" name="pin" v-model="current.y1">
            </div>
            <button class="btn btn-primary" v-on:click='onLed(current)'>On</button>
            <button class="btn btn-danger" v-on:click='offLed(current)'>Off</button>
          </div>
            <div>

        
      </section>
      <section id="greenLED">
        <div>
       <h2>GREEN</h2>
              <div class="form-group">
                <label>Pin3</label>
                <input type="number" name="pin" v-model="current.g1">
              </div>
              <button class="btn btn-primary" v-on:click='onLed(current)'>On</button>
              <button class="btn btn-danger" v-on:click='offLed(current)'>Off</button>
            </div>
      </section>

     

      
      <h2>SIMULATE</h2>
      <section id = "trafficLEDs">
        <button class="btn btn-success" v-on:click ="LEDs">AUTO</button>
        
      </section>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
     var redapp = new Vue({
        el: '#redLED',
        data: {
          current: {}
        },
        methods: {
            onLed: function (obj) {
              console.log(obj.pin);
              axios.post('/redpin_on', {pin:obj.r1})
                .then(function (response) {
                  console.log(response);
                })
                .catch(function (error) {
                  console.log(error);
                });
              },
            },
            offLed: function (obj) {
              console.log(obj.pin);
              axios.post('/redpin_off',{pin: obj.r1})
                .then(function (response) {
                  console.log(response);
                })
                .catch(function (error) {
                  console.log(error);
                });
            },
            method2:{
            onLed: function (obj) {
              console.log(obj.pin);
              axios.post('/yellowpin_on', {pin:obj.y1})
                .then(function (response) {
                  console.log(response);
                })
                .catch(function (error) {
                  console.log(error);
                });
            },
          offLed: function (obj) {
              console.log(obj.pin);
              axios.post('/yellowpin_off',{pin: obj.y1})
                .then(function (response) {
                  console.log(response);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
                },
           },
           method3:{
         onLed: function (obj) {
              console.log(obj.pin);
              axios.post('/greenpin_on', {pin:obj.g1})
                .then(function (response) {
                  console.log(response);
                })
                .catch(function (error) {
                  console.log(error);
                });
          },
          offLed: function (obj) {
            console.log(obj.pin);
            axios.post('/greenpin_off',{pin:obj.g1})
              .then(function (response) {
                console.log(response);
              })
              .catch(function (error) {
                console.log(error);
              });
            },
             },
           })
    

    
      </script>
    
     <script>
      var ledsApp = new Vue ({
        el:'#trafficLEDs',
        data: {
          message:'AUTO'
        },
        methods: {
          LEDs:function(obj){
            console.log("AUTO was called")
            axios.post('/leds_on', {
           pin1:obj.r1,pin2:obj.y1,pin3:obj.g1
          })
          .then(function (response) {
          console.log(response);
          })
        .catch(function (error) {
          console.log(error);
           });
          
         
        }   
      }
      })
    </script>
  </body>
</html>